.create-task {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.image-size {
  width: 150px;
  height: 150px;
}