.create-task {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 5px 0;
}

.form {
  display: flex;
  flex: 0.4;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}

.image-size {
  width: 150px;
  height: 150px;
}