.tasks, .empty-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  margin: 20px 0 5px 0;
}

.empty-list {
  justify-content: center;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}